* { margin: 0; padding: 0; }
img { vertical-align: top; }
ul { list-style: none; }
li { overflow: hidden; }
.wrap {
    width: 1400px;     /*  太大了,没有计算好位置,但是功能实现了  */
    height: 800px;
    margin: 50px auto;
    position: relative;
}
.slider li {
    position: absolute;
}
.slider li img {
    width: 100%;
}
.arrow {
    position: relative;
    opacity: 0;
}
.prev,
.next {
    display: inline-block;
    width: 76px;
    height: 112px;
    position: absolute;
    top: 0;
    cursor: pointer;
}
.prev {
    left: 0;
    background: url(../images/prev.png) no-repeat;
}
.next {
    right: 0;
    background: url(../images/next.png) no-repeat;
}